body {
  font-size:1em;
  text-align: center;
  font-family: Arial;
  background-image: url(http://rs77.pbsrc.com/albums/j55/Nolamom/Fun%20gifs/Billy%20Gifs/Billy_Hanged.gif~c200);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50% 150px;
}

h1 {
  border-bottom:1px solid black;
   background-color:#FFFCA9;
        color:navy;
        text-align:center;
      }
}

li {
  margin:10em;
    list-style: none;
    float: left;
    color: black;
      font-weight: bold;
}
a{
  float: left;
  margin: 3px;
}

ul{
  margin: 1em;
  float: left;
  list-style: none;
   font-weight: bold;
}