body {
  font-size:1em;
  text-align: center;
  font-family: Arial;
  background-image: url(http://rs77.pbsrc.com/albums/j55/Nolamom/Fun%20gifs/Billy%20Gifs/Billy_Hanged.gif~c200);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50% 150px;
        
}

.revealed {
  margin:20px;
  letter-spacing:0.5em;
}
.userInput {
  margin:20px;
}

.health {
	 height: 65vh;
	 border-radius:10px;
}

      
      
 h1{
        background-color:#FFFCA9;
        color:black;
        text-align:center;
      }
h2{
  color: #555200;
}

img {
-webkit-filter: contrast(75%);
}